<h1 class='text-center'>All Transactions for <%= @group.name %></h1>

<button class='ms-5'><%= link_to 'Add Transaction', new_group_entity_path(@group), class: 'btn p-1' %></button>

<% Entity.show_trans.each do |ent| %>
        <div class="container p-3 cont-trans">
        <div class="row">
            <p>Transaction by <%= ent.name %></p>
            <p><%= ent.created_at %></p>
            </div>
        </div> 
<% end %>

<div class="d-flex justify-content-around mt-2">
<h2>Total Payment:</h2> <h2> <%= @entity_sum %></h2>
</div>

<button class="btn btn-danger ms-2"><%= link_to 'Back', groups_path, class: 'btn' %></button>