<h1>Add new Transaction</h1>
<% if @entity.errors.any? %>
  <div class="post-errors-box">
    <p><%= pluralize(@group.errors.count, "error") %> found:</p>

    <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<%= form_with url: "/groups/#{params[:group_id]}/entities", model: @entity, method: :post do |form| %>
<div class="d-flex flex-column">
  <div class="col mb-3">
  <%= form.label :name%>
  <%= form.text_field :name%>
  </div>
  <div class="col mb-3">
  <%= form.label :amount%>
  <%= form.text_field :amount%>
  </div>
  <div class="col mb-3">
  <%= form.label :groups_ids %>
  <%= form.collection_select :group_ids, Group.all, :id, :name, {} %>
  </div>
  <div class="col mb-3 ms-2">
  <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<%= link_to 'Back', group_entities_path, class: "btn btn-danger ms-2" %>