<%= render 'shared/navbar', back_link: group_items_path, title: "New Transaction" %>

<%= form_with model: [@group, @item], class:"add-form" do |form| %>

<div class="form-fields">
  <div class="input-field">
    <%= form.text_field :name, class: "i-control", placeholder: 'Name' %>
    <% if @item.errors.has_key?(:name) %>
        <p class="error-message"><%= @item.errors[:name].first %></p>
      <% end %>
  </div>

  <div class="input-field">
    <%= form.number_field :amount, class: "i-control", placeholder: 'Amount' %>
    <% if @item.errors.has_key?(:amount) %>
        <p class="error-message"><%= @item.errors[:amount].first %></p>
      <% end %>
  </div>

  <div class="input-field">
    <%= form.collection_select :group_ids, Group.all, :id, :name, {}, class: "form-select i-control" %>
     <% if @item.errors.has_key?(:group_ids) %>
        <p class="error-message"><%= @item.errors[:group_ids].first %></p>
      <% end %>
  </div>
  </div>

  <div class="add-btn">
  <%= form.submit "Save" %>
  </div>
<% end %>